.svg_only {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}



#bridge {
	position: relative;
	height: 100vh;
	overflow: hidden;

	@media (max-width: 1199px) {height: 800px;}
	@media (max-width: 959px) {height: 480px;}
	@media (max-width: 639px) {height: auto;}

	#bridge_view {
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translateX(-50%);
		will-change: transform;
		z-index: -1;

		// @media (max-width: 639px) {display: none;}

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 25%;
			background: linear-gradient(90deg, #000 0%, transparent 100%);
			pointer-events: none;
			user-select: none;
			z-index: 1;
		}

		&::before {left: -1px;}
		&::after {
			right: -1px;
			transform: scale(-1, 1);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.bridge_overlay {
		position: relative;
		height: 100%;
		background: linear-gradient(0deg, transparent 50%, rgba(0, 0, 0, 0.3) 50%);
		background-size: 1px 2px;

		@media (max-width: 639px) {
			position: unset;
			height: unset;
			// background: unset;
		}

		.bridge_overlay_backdrop {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: auto;
			min-width: 100%;
			height: auto;
			min-height: 100%;
			pointer-events: none;
			user-select: none;
			transform: translateX(-50%);

			@media (max-width: 959px) {
				height: 100%;
				min-height: unset;
			}
			@media (max-width: 639px) {display: none;}
		}

		.bridge_content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			width: 100%;
			max-width: 1600px;
			height: 100%;
			padding-bottom: 45px;
			margin: auto;

			@media (max-width: 1199px) {padding-bottom: 75px;}
			@media (max-width: 959px) {padding-bottom: 0;}

			.bridge_lockup {
				position: relative;
				width: 570px;
				padding: 1px;
				margin: 38px auto 0;
				background: #000;
				border: solid $web_color_8;
				border-width: 2px;

				@media (max-width: 1199px) {width: 430px;}
				@media (max-width: 959px) {
					width: 330px;
					margin: 35px auto 0;
				}
				@media (max-width: 639px) {
					width: 100%;
					margin: 0 0 30px;
					background: unset;
					border-width: 0 0 2px;
				}

				&::before,
				&::after {
					content: '';
					display: block;
					position: absolute;
					top: -17px;
					width: 211px;
					height: 229px;
					background-image: url('../img/command-room-arm-left-lg.png');

					@media (max-width: 1199px) {
						height: 179px;
						background-image: url('../img/command-room-arm-left-md.png');
					}
					@media (max-width: 959px) {
						top: -10px;
						width: 174px;
						height: 134px;
						background-image: url('../img/command-room-arm-left-sm.png');
					}
					@media (max-width: 639px) {display: none;}
				}

				&::before {
					left: -21px;

					@media (max-width: 959px) {left: -15px;}
				}
				&::after {
					right: -21px;
					transform: scale(-1, 1);

					@media (max-width: 959px) {right: -15px;}
				}

				.bridge_lockup_content {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					height: 192px;
					border: solid $web_color_7;
					border-width: 1px;

					@media (max-width: 1199px) {height: 143px;}
					@media (max-width: 959px) {height: 112px;}
					@media (max-width: 639px) {
						height: 172px;
						padding: 0 20px;
						border-width: 1px 0;
					}

					#bridge_screen {
						position: relative;
						width: 100%;
						height: 100%;
						overflow: hidden;

						@media (max-width: 639px) {display: none;}

						&::after {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%);
							background-size: 1px 2px;
						}

						iframe {transform: translateY(-12%);}
					}

					.cowboy_hat {
						@media (min-width: 640px) {display: none;}
					}

					.heading_title {
						@media (min-width: 640px) {display: none;}
					}
				}
			}

			.bridge_header {
				margin-top: 30px;
				text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);

				@media (max-width: 959px) {margin-top: 0;}
				@media (max-width: 639px) {display: none;}
			}

			.toggle_volume {
				display: flex;
				align-items: center;
				position: relative;
				margin-bottom: 10px;
				z-index: 3;

				@media (max-width: 639px) {display: none;}

				>p {
					color: $web_color_2;
					font-weight: 700;
					text-shadow: 0 0 5px #000;
					opacity: 0;
					user-select: none;

					&.show {opacity: 1;}
				}

				>div {
					padding: 12px;
					margin: 0 10px;
					background: rgba(0, 0, 0, 0.5);
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
					border: 2px solid $web_color_2;
					border-radius: 50%;

					@media (max-width: 959px) {padding: 10px;}

					svg {
						margin-bottom: -4px;
						fill: $web_color_2;
						filter: drop-shadow(0 0 5px rgba($web_color_2, 0.5));

						&:nth-child(2) {display: none;}

						@media (max-width: 1199px) {
							width: 26px;
							height: 26px;
						}
						@media (max-width: 959px) {
							width: 21px;
							height: 21px;
						}
					}

					&:hover {
						box-shadow: 0 0 10px $web_color_3;
						border: 2px solid $web_color_3;

						svg {
							fill: $web_color_3;
							filter: drop-shadow(0 0 5px rgba($web_color_3, 0.5));
						}
					}
				}
			}

			.get_in_touch {
				position: relative;
				margin-bottom: 60px;
				z-index: 3;

				@media (max-width: 639px) {margin-bottom: 30px;}
			}
		}

		.the_crew {
			position: absolute;
			bottom: calc(80 / 19.2 * 1vw);
			right: 50%;
			width: calc(100 / 19.2 * 1vw);
			margin-right: calc(0vw - 285 / 19.2 * 1vw);
			filter: brightness(0.1);
			pointer-events: none;
			user-select: none;
			transition: all 0.3s;

			@media (max-width: 1700px) {
				bottom: 71px;
				width: 89px;
				margin-right: -252px;
			}
			@media (max-width: 959px) {display: none;}
		}

		.corner_console {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			transform-origin: right top;

			@media (max-width: 1199px) {display: none;}

			img:nth-child(2) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				opacity: 0;

				&.show,
				&.active {opacity: 1;}
			}

			a {
				display: block;
				position: absolute;
				top: 57px;
				left: 39px;
				width: 135px;
				height: 80px;
				background-image: url('../img/noise.png');
				opacity: .35;
				transform: rotate(-7deg);
			}

			&.show {
				&::after {
					content: '指揮官檔案';
					position: absolute;
					top: 52.5%;
					right: 70px;
					color: $web_color_1;
					font-size: 12px;
					font-weight: 700;
					transform: rotate(-5deg);
				}
			}
		}

		.dashboard {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
			z-index: 2;

			@media (max-width: 1199px) {display: none;}

			.console {
				position: absolute;
				transition: transform 0.3s cubic-bezier(0.8, 0, 1, 0.2) 0.3s;

				&::after {
					content: '';
					display: block;
					position: absolute;
					pointer-events: none;
					z-index: 2;
				}

				.console_screen {
					position: absolute;
					padding: 3px;
					background: rgba(0, 0, 0, 0.8);
					border: 2px solid $web_color_8;
					border-radius: 6px;

					.console_inner {
						height: 100%;
						border: 1px solid $web_color_7;
						border-radius: 4px;
						overflow: hidden;

						.console_content {
							height: 100%;
							opacity: 0;
							transition: opacity 0s;

							@media (max-width: 639px) {padding: 15px;}
						}

						&.photo {
							padding: 1px;

							&:hover {border: 1px solid $web_color_9;}

							.console_content {
								position: relative;
								background: url('../img/author.jpg') no-repeat;
								background-size: 100% 100%;
								border-radius: 2px;
								overflow: hidden;

								img {
									position: relative;
									width: 100%;
									height: 100%;
									object-fit: cover;
									animation: photo 3s infinite;
									z-index: 1;
								}

								&::before {
									content: '';
									display: block;
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;
									background: rgba($web_color_1, 0.1);
									z-index: 2;
								}

								&::after {
									content: '';
									display: block;
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;
									background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 50%, transparent 50%);
									background-size: 100% 100%, 1px 3px;
									z-index: 2;
								}
							}
						}

						&.text {
							.console_content {
								.console_title {
									margin-bottom: 20px;

									p:nth-child(1) {
										color: #fff;
										font-size: 21px;
										font-weight: 700;
										font-family: $web_font_3;
										margin-bottom: 5px;
									}

									p:nth-child(2) {
										color: #fff;
										font-size: 18px;
										font-family: $web_font_2;
									}
								}

								.console_detail {
									p {
										font-family: $web_font_2;

										&+p:not(.hidden) {margin-top: 10px;}

										span {
											color: $web_color_6;
											font-size: 16px;
											padding-right: 10px;
										}

										&.hidden {
											span {visibility: hidden;}
										}
									}
								}
							}
						}

						&.btn {
							.console_content {
								display: flex;
								align-items: center;
								justify-content: center;

								p {
									color: $web_color_2;
									font-size: 21px;
									font-family: $web_font_2;

									span {
										display: inline-block;
										font-size: 24px;

										&:first-letter {
											color: $web_color_3;
											text-transform: uppercase;
										}
									}
								}
							}

							&:hover {
								.console_content {
									p {color: $web_color_3;}
								}
							}
						}
					}
				}
			}

			.console.avatar {
				top: 30px;
				left: 0;
				transform: translate(-410px, 0);

				&::after {
					top: 0;
					left: 0;
					width: 410px;
					height: 188px;
					background: url('../img/console-1.png') no-repeat;
				}

				.console_screen {
					top: 92px;
					left: 184px;
					width: 215px;
					height: 215px;
				}
			}

			.console.info {
				top: 40%;
				left: 0;
				transform: translate(-620px, 0);

				&::after {
					top: 0;
					left: 0;
					width: 375px;
					height: 450px;
					background: url('../img/console-2.png') no-repeat;
				}

				.console_screen {
					top: 133px;
					left: 168px;
					width: 450px;
					height: 305px;

					.console_content {padding: 25px 25px 25px 35px;}
				}
			}

			.console.desc {
				top: 30%;
				right: 0;
				transform: translate(620px, 0);

				&::after {
					top: 0;
					right: 0;
					width: 375px;
					height: 425px;
					background: url('../img/console-3.png') no-repeat;
				}

				.console_screen {
					top: 126px;
					right: 179px;
					width: 400px;
					height: 290px;

					.console_content {padding: 18px 35px 18px 25px;}
				}
			}

			.console.close {
				bottom: 30px;
				right: 0;
				transform: translate(385px, 0);

				&::after {
					bottom: 0;
					right: 0;
					width: 240px;
					height: 160px;
					background: url('../img/console-9.png') no-repeat;
				}

				.console_screen {
					bottom: 5px;
					right: 185px;
					width: 200px;
					height: 50px;
				}
			}

			&.active {
				pointer-events: auto;

				.console {
					transform: translate(0, 0);
					transition: transform 0.9s cubic-bezier(0, 1.2, 1, 0.95) 0.4s;

					.console_screen {
						.console_content {
							opacity: 1;
							transition: opacity 0s 1.28s;
						}
					}
				}

				.console.avatar,
				.console.info {
					@media (max-width: 1700px) {transform: translate(-133px, 0);}
				}

				.console.desc,
				.console.close {
					@media (max-width: 1700px) {transform: translate(147px, 0);}
				}
			}
		}
	}
}



.summon_ways {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	backdrop-filter: blur(10px);
	opacity: 0;
	pointer-events: none;
	z-index: 20;

	.summon_by_these {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 670px;
		max-width: calc(100vw - 50px);
		max-height: calc(100vh - 50px);
		background: rgba(0, 0, 0, 0.8);
		// backdrop-filter: blur(10px);
		border: 2px solid rgba(242, 255, 242, 0.5);
		border-radius: 16px;
		box-shadow: inset 0 0 45px 15px rgba(0, 0, 0, 0.75);
		transform: translate(-50%, -50%);

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 80px;
			height: 81px;
			background: url('../img/locked-frame-corner-top-left.png') no-repeat center center / cover;
		}

		&::before {
			top: -15px;
			left: -12px;
		}

		&::after {
			bottom: -15px;
			left: -12px;
			transform: scale(1,-1);
		}

		>div {
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 80px;
				height: 81px;
				background: url('../img/locked-frame-corner-top-left.png') no-repeat center center / cover;
			}

			&::before {
				top: -15px;
				right: -12px;
				transform: scale(-1,1);
			}

			&::after {
				bottom: -15px;
				right: -12px;
				transform: scale(-1,-1);
			}

			.summon_content {
				padding: 30px 20px 10px;

				>div {
					display: flex;
					align-items: center;
					flex-direction: column;
					text-align: center;
					max-height: calc(100vh - 94px);
					overflow-y: auto;

					&::-webkit-scrollbar {display: none;}

					.summon_target {
						position: relative;
						margin-bottom: 16px;

						img {filter: brightness(1.05);}

						&::after {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 50%, transparent 50%);
							background-size: 100% 100%, 1px 3px;
						}
					}

					.summon_commander {
						margin-bottom: 16px;

						p {
							color: #fff;
							font-size: 23px;
							font-weight: 700;
							font-family: $web_font_3;

							@media (max-width: 639px) {font-size: 21px;}

							.sc_style {
								text-indent: 2.5px;
								transform-origin: center;
							}
						}
					}

					>a {
						color: $web_color_6;
						font-size: 21px;
						font-family: $web_font_2;

						&+a {margin-top: 10px;}

						@media (max-width: 639px) {font-size: 18px;}

						&:hover {
							@media (min-width: 1025px) {color: $web_color_10;}
						}
					}

					.summon_social {
						display: flex;
						justify-content: center;
						gap: 10px 15px;
						margin-top: 16px;

						>a {
							padding: 5px;
							border: 1px solid $web_color_6;
							-webkit-box-reflect: below 5px linear-gradient(transparent, rgba(#111,.2));

							svg {
								display: block;
								fill: $web_color_6;
								filter: drop-shadow(0 0 5px rgba($web_color_6, 0.5));

								@media (max-width: 639px) {
									width: 20px;
									height: 20px;
								}
							}

							&:hover {
								@media (min-width: 1025px) {
									border: 1px solid $web_color_10;
								}

								svg {
									@media (min-width: 1025px) {
										fill: $web_color_10;
										filter: drop-shadow(0 0 5px rgba($web_color_10, 0.5));
									}
								}
							}
						}
					}

					.summon_exit {
						color: $web_color_2;
						font-size: 21px;
						font-family: $web_font_2;
						margin-top: 50px;

						@media (max-width: 639px) {font-size: 18px;}

						span {
							display: inline-block;
							font-size: 24px;

							@media (max-width: 639px) {font-size: 22px;}

							&:first-letter {
								color: $web_color_3;
								text-transform: uppercase;
							}
						}

						&:hover {
							color: $web_color_3;
						}
					}
				}
			}
		}
	}

	&.active {
		opacity: 1;
		pointer-events: auto;
	}
}



.guide {
	position: sticky;
	top: 0;
	width: calc(100% - 50px);
	max-width: 1280px;
	margin: 0 auto -60px;
	padding: 3px;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(2px);
	border: 2px solid $web_color_8;
	border-radius: 6px;
	z-index: 10;

	@media (max-width: 480px) {width: calc(100% - 10px);}

	&::after {
		content: '';
		position: absolute;
		top: calc(100% + 2px);
		left: 5px;
		width: 108px;
		height: 60px;
		background: url('../img/navigation-wires.png') no-repeat;
		background-size: 100% 100%;

		@media (max-width: 1199px) {
			width: 81px;
			height: 45px;
		}
		@media (max-width: 639px) {display: none;}
	}

	.guide_inner {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0 calc(100 / 19.2 * 1vw);
		height: 50px;
		border: 1px solid $web_color_7;
		border-radius: 4px;

		a {
			color: $web_color_1;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 1px;
			text-indent: 1px;

			&:hover {color: $web_color_4;}
		}
	}
}



#commander {
	padding: 120px 0;
	background-image: url('../img/divider-hinges-detail.png'), url('../img/divider-hinges.png'), linear-gradient(to top, #000, transparent), url('../img/backdrop-grid.png');
	background-size: 1291px 22px, 1366px 28px, 100% 120px, 40px 360px;
	background-position: center bottom -2px, center bottom, center bottom, left top;
	background-repeat: no-repeat, repeat-x, no-repeat, repeat;

	@media (max-width: 639px) {padding: 90px 0 80px;}

	.commander_content {
		display: flex;

		.commander_file {
			width: calc(100% - 380px);
			padding-right: calc(60 / 19.2 * 1vw);

			@media (max-width: 959px) {
				width: 100%;
				padding-right: 0;
			}

			.commander_name {
				margin-bottom: 20px;

				p:nth-child(1) {
					color: #fff;
					font-size: calc(26 / 16 * 1rem + 8 / 19.2 * 1vw); //34 - 28
					font-weight: 700;
					font-family: $web_font_3;
					margin-bottom: 5px;
				}

				p:nth-child(2) {
					color: #fff;
					font-size: calc(17 / 16 * 1rem + 4 / 19.2 * 1vw); //21 - 18
					font-family: $web_font_2;
				}
			}

			.commander_exp {
				margin-bottom: 10px;

				p {
					font-family: $web_font_2;

					&+p:not(.hidden) {margin-top: 10px;}

					span {
						color: $web_color_6;
						font-size: 16px;
						padding-right: 10px;
					}

					&.hidden {
						span {visibility: hidden;}
					}
				}
			}

			.commander_intro {
				p {
					display: flex;
					font-family: $web_font_2;


					&+p:not(.hidden) {margin-top: 10px;}

					span {
						flex-shrink: 0;
						color: $web_color_6;
						font-size: 16px;
						padding-right: 10px;
					}

					&.hidden {
						span {visibility: hidden;}
					}
				}
			}
		}

		.commander_avatar {
			flex-shrink: 0;
			width: 380px;

			@media (max-width: 959px) {display: none;}

			.commander_frame {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 380px;
					height: 280px;
					background: url('../img/callout-arm.png') no-repeat;
					background-size: 100% 100%;
				}

				.commander_screen {
					position: relative;
					top: 67px;
					left: 10px;
					width: 235px;
					height: 300px;
					padding: 3px;
					background: rgba(0, 0, 0, 0.8);
					border: 2px solid $web_color_8;
					border-radius: 6px;

					.commander_inner {
						position: relative;
						height: 100%;
						padding: 1px;
						border: 1px solid $web_color_7;
						border-radius: 4px;
						overflow: hidden;

						&::after {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 50%, transparent 50%);
							background-size: 100% 100%, 1px 3px;
						}

						img {
							filter: brightness(0.85);
							transition: filter 0.2s;

							@media (max-width: 1024px) {filter: brightness(1.05);}
						}
					}
				}

				&:hover {
					.commander_screen {
						.commander_inner {
							img {filter: brightness(1.05);}
						}
					}
				}
			}
		}
	}
}



#work {
	position: relative;
	padding: 120px 0;
	background-image: url('../img/divider.jpg'), url('../img/backdrop-stars.jpg');
	background-size: 1920px 19px, 100% auto;
	background-position: center bottom, center top;
	background-repeat: no-repeat, repeat;

	@media (max-width: 639px) {padding: 90px 0 80px;}

	.starmap {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		@media (max-width: 1199px) {top: 50px;}
		@media (max-width: 959px) {display: none;}

		&::before {
			content: '';
			display: block;
			position: sticky;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(1177 / 19.2 * 1vw);
			background-image: url('../img/return-starmap.png');
			background-size: 100% auto;
			background-position: center top;
			background-repeat: no-repeat;
		}
	}

	.work_age {
		display: flex;
		justify-content: center;
		gap: 0 calc(30 / 19.2 * 1vw);
		overflow-x: auto;

		@media (max-width: 1024px) {gap: 0 16px;}
		@media (max-width: 639px) {justify-content: flex-start;}

		.age {
			width: calc(100% / 3);
			min-width: 180px;
			max-width: 230px;

			>div {
				position: relative;
				padding: calc(7 / 230 * 100%) calc(8 / 230 * 100%) calc(41 / 230 * 100%);

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: url('../img/metal-frame-default.png') no-repeat center top / 100% auto;
					opacity: 1;
					z-index: 2;
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: url('../img/metal-frame-hover.png') no-repeat center top / 100% auto;
					opacity: 0;
					z-index: 2;
				}

				>div {
					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: url('../img/metal-frame-current.png') no-repeat center top / 100% auto;
						opacity: 0;
						z-index: 3;
					}

					>p {
						position: relative;
						height: 0;
						padding-bottom: calc(120 / 214 * 100%);
						overflow: hidden;

						img {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							object-fit: cover;
							z-index: 1;
						}

						&::after {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 50%, transparent 50%);
							background-size: 100% 100%, 1px 3px;
							z-index: 1;
							transition: opacity 0.1s;

							@media (max-width: 1024px) {opacity: 0.7;}
						}
					}
				}
			}

			&:hover {
				>div {
					&::before {opacity: 0;}
					&::after {opacity: 1;}

					>div {
						>p {
							&::after {opacity: 0.7;}
						}
					}
				}
			}

			&.active {
				>div {
					&::before {opacity: 0;}
					&::after {opacity: 0;}

					>div {
						&::after {opacity: 1;}

						>p {
							&::after {opacity: 0.5;}
						}
					}
				}
			}
		}
	}

	.work_list {
		display: none;
		flex-wrap: wrap;
		gap: 35px 0;
		margin: 30px calc(0vw - 15 / 19.2 * 1vw) 0;

		@media (max-width: 1024px) {margin: 30px -8px 0;}

		&.active {display: flex;}

		.work_item {
			width: 25%;
			padding: 0 calc(15 / 19.2 * 1vw);

			@media (max-width: 1024px) {
				width: calc(100% / 3);
				padding: 0 8px;
			}
			@media (max-width: 767px) {width: 50%;}

			>a {
				display: block;
				position: relative;
				border: 2px solid rgba(242, 255, 242, 0.5);
				border-radius: 16px;

				@media (max-width: 575px) {
					border: 1px solid rgba(242, 255, 242, 0.5);
				}

				&::before,
				&::after {
					content: '';
					position: absolute;
					width: 65px;
					height: 66px;
					background: url('../img/locked-frame-corner-top-left.png') no-repeat center center / cover;
					z-index: 3;

					@media (max-width: 575px) {
						width: 45px;
						height: 46px;
					}
				}

				&::before {
					top: -13px;
					left: -10px;

					@media (max-width: 575px) {
						top: -9px;
						left: -7px;
					}
				}

				&::after {
					bottom: -13px;
					left: -10px;
					transform: scale(1,-1);

					@media (max-width: 575px) {
						bottom: -9px;
						left: -7px;
					}
				}

				>div {
					&::before,
					&::after {
						content: '';
						position: absolute;
						width: 65px;
						height: 66px;
						background: url('../img/locked-frame-corner-top-left.png') no-repeat center center / cover;
						z-index: 3;

						@media (max-width: 575px) {
							width: 45px;
							height: 46px;
						}
					}

					&::before {
						top: -13px;
						right: -10px;
						transform: scale(-1,1);

						@media (max-width: 575px) {
							top: -9px;
							right: -7px;
						}
					}

					&::after {
						bottom: -13px;
						right: -10px;
						transform: scale(-1,-1);

						@media (max-width: 575px) {
							bottom: -9px;
							right: -7px;
						}
					}

					>div {
						position: relative;
						height: 0;
						padding-bottom: calc(919 / 1903 * 100%);
						background: #000;
						border-radius: 16px;
						isolation: isolate;
						overflow: hidden;

						img {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							object-fit: cover;
							z-index: 1;
						}

						&::before {
							content: 'OFFLINE';
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							color: $web_color_9;
							font-size: 20px;
							font-weight: 700;
							font-family: $web_font_2;
							letter-spacing: 2px;
							text-indent: 2px;
							opacity: 0;
							z-index: 2;
						}

						&::after {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 50%, transparent 50%);
							background-size: 100% 100%, 1px 3px;
							opacity: 0.7;
							z-index: 2;
							transition: opacity 0.1s;

							@media (max-width: 1024px) {opacity: 0.5;}
						}
					}
				}

				&:hover {
					>div {
						>div {
							&::after {opacity: 0.5;}
						}
					}
				}
			}

			>p {
				position: relative;
				text-align: center;
				margin-top: 15px;

				@media (max-width: 639px) {font-size: 15px;}
				@media (max-width: 480px) {
					font-size: 14px;
					margin-top: 10px;
				}
			}

			&.offline {
				>a {
					>div {
						>div {
							img {opacity: 0.25;}

							&::before {opacity: 1;}
						}
					}

					&:hover {
						>div {
							>div {
								&::before {
									@media (min-width: 1025px) {
										animation: jitter 0.225s ease-in-out 2 forwards;
									}

									@keyframes jitter {
										0% {
											transform: translateX(0px) translateY(0px);
											opacity: 1;
										}
										10% {
											transform: translateX(2px) translateY(2px);
											opacity: 0.8;
										}
										20% {
											transform: translateX(0px) translateY(0px);
											opacity: 0.47;
										}
										30% {
											transform: translateX(0px) translateY(2px);
											opacity: 0.3;
										}
										70% {
											transform: translateX(-1px) translateY(1px);
											opacity: 0.96;
										}
										80% {
											transform: translateX(0px) translateY(-2px);
											opacity: 0.9;
										}
										90% {
											transform: translateX(1px) translateY(-2px);
											opacity: 0.81;
										}
										100% {
											transform: translateX(0) translateY(0);
											opacity: 1;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}



#contact {
	position: relative;
	padding: 70px 0;

	@media (max-width: 639px) {padding: 50px 0;}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url('../img/social.webp') no-repeat center center / cover;
		opacity: 0.3;
		z-index: -1;
	}

	.contact_content {
		display: flex;
		align-items: center;
		flex-direction: column;

		.cowboy_hat {
			margin-bottom: 40px;

			@media (max-width: 639px) {display: none;}
		}

		>a {
			color: $web_color_6;
			font-size: 21px;
			font-family: $web_font_2;

			&+a {margin-top: 10px;}

			@media (max-width: 639px) {font-size: 18px;}

			&:hover {
				@media (min-width: 1025px) {color: $web_color_10;}
			}
		}

		.social_media {
			display: flex;
			justify-content: center;
			gap: 10px 15px;
			margin-top: 16px;

			>a {
				padding: 5px;
				border: 1px solid $web_color_6;
				-webkit-box-reflect: below 5px linear-gradient(transparent, rgba(#111,.2));

				svg {
					display: block;
					fill: $web_color_6;
					filter: drop-shadow(0 0 5px rgba($web_color_6, 0.5));

					@media (max-width: 639px) {
						width: 20px;
						height: 20px;
					}
				}

				&:hover {
					@media (min-width: 1025px) {
						border: 1px solid $web_color_10;
					}

					svg {
						@media (min-width: 1025px) {
							fill: $web_color_10;
							filter: drop-shadow(0 0 5px rgba($web_color_10, 0.5));
						}
					}
				}
			}
		}

		.copyright {
			color: $web_color_6;
			font-size: 14px;
			font-family: $web_font_2;
			line-height: 1.2;
			text-transform: uppercase;
			text-align: center;
			margin-top: 50px;

			@media (max-width: 639px) {font-size: 13px;}
		}
	}
}