@charset "utf-8";

.books3Area {
	position: relative;
	background: url('../images/bg_books3.png') no-repeat 98% 99%;
    overflow: hidden;

	@media (max-width: $hamburgerPoint) {background: unset;}

	.pagefloatL {
		position: absolute;
		top: 5%;
		left: 0;
		z-index: -1;

		@media (max-width: $hamburgerPoint) {display: none;}
	}

	.pagefloatR1 {
		position: absolute;
		top: 1%;
		right: 0;
		z-index: -1;

		@media (max-width: $hamburgerPoint) {display: none;}
	}

	.pagefloatR2 {
		position: absolute;
		top: 35%;
		right: 0;
		z-index: -1;

		@media (max-width: $hamburgerPoint) {display: none;}
	}

	>.container {
	    max-width: 960px;
	}

	.books3Title {
		position: relative;
	    margin-bottom: 15px;
	    padding-bottom: 10px;
		color: $web_color_1;
		font-size: 19px;
		font-weight: bold;
		transition: all 0.3s ease-in-out;

		@media (max-width: $screenViewSM - 1) {font-size: 18px;}

		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 90px;
			height: 2px;
			background: $web_color_1;
		}
	}

	.books3_block1 {
	    margin-bottom: 40px;
	    padding-bottom: 40px;
		border-bottom: 2px dashed rgba(153, 51, 51, 0.3);
	}

	.books3_block2 {
		display: flex;
	    flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 40px;
	    padding-bottom: 40px;
		border-bottom: 2px dashed rgba(153, 51, 51, 0.3);

		.map {
			width: 61%;
			transition: all 0.3s ease-in-out;

			@media (max-width: $screenViewSM - 1) {
				margin-bottom: 20px;
				width: 100%;
				text-align: center;
			}
		}

		.information {
			width: 37%;
			transition: all 0.3s ease-in-out;

			@media (max-width: $screenViewSM - 1) {width: 100%;}

			.info1 {
			    margin-bottom: 20px;

				>p {
					color: #993333;
					font-weight: bold;
				}

				div {
					padding-left: 20px;

					p {
						i {color: $web_color_1;}

						&:nth-child(4),
						&:nth-child(5) {
						    padding-left: 19px;
						}
					}
				}
			}

			.info2 {
				p {
					margin-bottom: 15px;

					&:nth-child(1) {
						color: #993333;
						font-weight: bold;
					}

					&:not(:first-child) {
						position: relative;
						padding-left: 40px;

						&::before {
							display: block;
							position: absolute;
							top: -3px;
							left: 0;
							width: 30px;
							height: 30px;
						    font-weight: bold;
							text-align: center;
							background: #fff;
							border: 2px solid red;
							border-radius: 50%;
						}
					}

					&.path1::before {content: '1';}
					&.path2::before {content: '2';}
					&.path3::before {content: '3';}
				}
			}
		}
	}

	.books3_block3 {
	    margin-bottom: 100px;
	    transition: all 0.3s ease-in-out;

	    @media (max-width: $screenViewSM - 1) {margin-bottom: 70px;}

		.path1,
		.path2,
		.path3 {
			color: #993333;
			font-weight: bold;
		}

		.path {
			margin-bottom: 20px;
			padding-left: 24px;

			&[class*="bus"] {
				position: relative;
				padding-left: 34px;

				&::before {
					display: block;
					position: absolute;
					top: 3px;
					left: 12px;
					width: 19px;
					height: 19px;
					color: #fff;
					font-size: 12px;
					font-weight: bold;
					text-align: center;
					background: #000;
					border-radius: 50%;
				}
			}
		}

		.bus1::before {content: '1';}
		.bus2::before {content: '2';}
		.bus3::before {content: '3';}
	}
}