@charset "utf-8";

body.dutyList {
	background: url('../images/bg_series.png');

	.banner {
		margin-bottom: 50px;
		transition: all 0.3s ease-in-out;

		@media (max-width: $hamburgerPoint) {margin-bottom: 0;}
	}
}

.articleList {
	background: url('../images/bg_article.png') no-repeat right bottom;
	background-size: 100% auto;

	.row {
		margin-right: -7.5px;
		margin-left: -7.5px;
	}

	.top_one {
		position: relative;
		padding: 7.5px;
		width: 100%;
  		max-width: 65.8%;
		flex: 0 0 65.8%;
		transition: all 0.3s ease-in-out;

		@media (max-width: $screenViewSM - 1) {
			padding: 15px;
	  		max-width: 100%;
			flex: 0 0 100%;
		}

		.articleItem {
			display: block;
			position: relative;
			height: 0;
			padding-bottom: 69.9%;
			overflow: hidden;

			.articleImg {
				position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;

				img {
					position: relative;
					left: 50%;
					width: auto;
					height: 100%;
					max-width: unset;
					transform: translate(-50%, 0%) scale(1);
					transition: all 0.3s ease-in-out;
				}
			}

			&:hover {
				.articleImg {
					img {
						transform: translate(-50%, 0%) scale(1.02);
					}
				}
			}

			.articleInfo {
				position: absolute;
			    bottom: 0;
			    left: 0;
			    width: 100%;
			    height: 130px;
			    padding: 15px 30px;
			    background: rgba(0,0,0,.35);
			    transition: all 0.3s ease-in-out;

				@media (max-width: $screenViewMD - 1) {
					height: 100px;
					padding: 15px;
				}

			    .articleCategory {
			    	margin-bottom: 10px;
			    	padding: 0 15px;
			    	width: fit-content;
			    	color: #fff;
			    	background: $web_color_1;
			    }

			    .topOneTitle {
			    	width: 100%; 
					white-space: nowrap;
					text-overflow: ellipsis;
			    	color: #fff;
			    	font-size: 32px;
			    	font-weight: bold;
					overflow: hidden;
					transition: all 0.3s ease-in-out;

					@media (max-width: $screenViewMD - 1) {font-size: 24px;}
			    }
			}
		}
	}

	.top_two {
		position: relative;
		padding: 7.5px;
		width: 100%;
  		max-width: 34.2%;
		flex: 0 0 34.2%;
		transition: all 0.3s ease-in-out;

		@media (max-width: $screenViewSM - 1) {
			padding: 15px;
	  		max-width: 100%;
			flex: 0 0 100%;
		}

		.articleItem {
			display: block;
			position: relative;
			height: 0;
			padding-bottom: 66.67%;
			overflow: hidden;

			&:first-child {
				margin-bottom: 15px;
				transition: all 0.3s ease-in-out;

				@media (max-width: $screenViewSM - 1) {
					margin-bottom: 30px;
				}
			}

			.articleImg {
				position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;

				img {
					width: 100%;
					height: 100%;
					transform: scale(1);
					transition: all 0.3s ease-in-out;
				}
			}

			&:hover {
				.articleImg {
					img {
						transform: scale(1.02);
					}
				}
			}

			.articleInfo {
				position: absolute;
			    bottom: 0;
			    left: 0;
			    width: 100%;
			    height: 130px;
			    padding: 15px 30px;
			    background: rgba(0,0,0,.35);
			    transition: all 0.3s ease-in-out;

				@media (max-width: $screenViewMD - 1) {
					height: 115px;
			    	padding: 15px;
				}

			    .articleCategory {
			    	margin-bottom: 10px;
			    	padding: 0 15px;
			    	width: fit-content;
			    	color: #fff;
			    	background: $web_color_1;
			    }

			    .topTwoTitle {
			    	height: 60px;
			    	color: #fff;
			    	font-size: 20px;
			    	font-weight: bold;
			    	overflow: hidden;
			    	transition: all 0.3s ease-in-out;

					@media (max-width: $screenViewMD - 1) {
						height: 54px;
						font-size: 18px;
					}
			    }
			}
		}
	}

	.others {
		padding: 7.5px;
		transition: all 0.3s ease-in-out;

		@media (max-width: $screenViewSM - 1) {
			padding: 15px;
		}

		.articleItem {
			display: block;
			background: #fff;

			.articleImg {
				position: relative;
				height: 0;
				padding-bottom: 66.67%;
				overflow: hidden;

				img {
					position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    transform: scale(1);
				    transition: all 0.3s ease-in-out;
				}

				.articleCategory {
					position: absolute;
					bottom: 30px;
					left: 0;
					padding: 0 15px;
			    	width: fit-content;
			    	color: #fff;
			    	background: $web_color_1;
				}
			}

			&:hover {
				.articleImg {
					img {
						transform: scale(1.02);
					}
				}
			}

			.articleInfo {
				padding: 20px;

				.articleDes {
					height: 72px;
					color: #000;
					overflow: hidden;
					transition: all 0.3s ease-in-out;

					span {transition: all 0.3s ease-in-out;}
				}
			}
		}

		.articleShare {
			padding: 0 20px 20px;
			background: #fff;

			.social {
				display: inline-flex;
				overflow: hidden;

				>div {
					opacity: 0;
					transform: translate(100%, 0%);
					transition: all 0.3s ease-in-out;

					a {
						display: inline-block;
					    margin-right: 5px;
					}

					&.open {
						opacity: 1;
						transform: translate(0%, 0%);
					}
				}
			}

			.switcher {
				display: inline-block;
				cursor: pointer;

				img {
					transform: rotate(0deg);
					transition: all 0.3s ease-in-out;

					&.open {
						transform: rotate(-180deg);
					}
				}
			}
		}
	}

	#copyUrl {
		position: relative;
		left: -100%;
		float: left;
	}

	.pagination {
		padding: 70px 0 100px;
		transition: all 0.3s ease-in-out;

		@media (max-width: $screenViewLG - 1) {padding: 70px 0;}
		@media (max-width: $screenViewMD - 1) {padding: 50px 0;}
		@media (max-width: $screenViewSM - 1) {padding: 40px 0;}
	}
}