@charset "utf-8";

body.location {
	background: url('../images/bg_series.png');

	.banner {
		margin-bottom: 50px;
		transition: all 0.3s ease-in-out;

		@media (max-width: $hamburgerPoint) {margin-bottom: 0;}
	}
}

.storeList {
	padding-bottom: 50px;

	.storeLeft {
		@media (max-width: $screenViewMD - 1) {display: none;}
	}

	.storeRight {
		min-height: 400px;
		
		.storeItem {
			margin-bottom: 30px;
			padding-bottom: 20px;
			border-bottom: 2px dashed rgba(0,0,0,.3);

			.storeName {
				margin-bottom: 10px;
				color: $web_color_1;
				font-size: 18px;
				font-weight: bold;
			}

			p {
				margin-bottom: 10px;

				img {
					position: relative;
					top: -2px;
				}

				small {
					color: $web_color_2;
				}

				span {
					color: #E0364A;
				}
			}
		}
	}
}