@charset "utf-8";

.topmenu {
	margin-bottom: 20px;

	@media (max-width: $hamburgerPoint) {display: none;}

	.menuWidth {
		display: flex;
    	flex-wrap: wrap;
    	justify-content: center;

		a {
			display: inline-block;
			margin: 0 12.5px 20px;
			padding: 7px 30px;
			color: #666;
			background: #fff;
			border: 1px solid #ccc;
			border-radius: 10px;

			i {
				position: relative;
				top: 2px;
				color: red;
				transition: all 0.3s ease-in-out;
			}

			&:hover,
			&.active {
				color: #fff;
				background: $web_color_1;
				border: 1px solid $web_color_1;

				i {color: #fff;}
			}
		}
	}
}