//==================================================
// global animation settings
//==================================================
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes goUp {
	0% {
		opacity: 0;
		transform: translate(0, 30px);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes goDown {
	0% {
		opacity: 0;
		transform: translate(0, -30px);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

//==================================================
//==================================================

@keyframes goLeft {
	0% {
		opacity: 0;
		transform: translate(30px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes goLeft_cc {
	0% {
		opacity: 0;
		transform: translate(calc(-50% + 30px), -50%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%)
	}
}

//==================================================
//==================================================

@keyframes goRight {
	0% {
		opacity: 0;
		transform: translate(-30px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes goRight_cc {
	0% {
		opacity: 0;
		transform: translate(calc(-50% - 30px), -50%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%)
	}
}

//==================================================
//==================================================

@keyframes shiny { //just shiny, position on four corner
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes shiny_xc { //just shiny, position-x center
	0% {
		opacity: 0;
		transform: translate(-50%, 0);
	}
	25% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
	50% {
		opacity: 0;
		transform: translate(-50%, 0);
	}
	75% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, 0);
	}
}

@keyframes shiny_yc { //just shiny, position-y center
	0% {
		opacity: 0;
		transform: translate(0, -50%);
	}
	25% {
		opacity: 1;
		transform: translate(0, -50%);
	}
	50% {
		opacity: 0;
		transform: translate(0, -50%);
	}
	75% {
		opacity: 1;
		transform: translate(0, -50%);
	}
	100% {
		opacity: 0;
		transform: translate(0, -50%);
	}
}

@keyframes shiny_cc { //just shiny, position center center
	0% {
		opacity: 0;
		transform: translate(-50%, -50%);
	}
	25% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
	50% {
		opacity: 0;
		transform: translate(-50%, -50%);
	}
	75% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -50%);
	}
}

//==================================================
//==================================================

@keyframes ud { //move up and down, position on four corner
	0% {
		transform: translate(0, -25px);
	}
	25% {
		transform: translate(0, 25px);
	}
	50% {
		transform: translate(0, -25px);
	}
	75% {
		transform: translate(0, 25px);
	}
	100% {
		transform: translate(0, -25px);
	}
}

@keyframes ud_xc { //move up and down, position-x center
	0% {
		transform: translate(-50%, -25px);
	}
	25% {
		transform: translate(-50%, 25px);
	}
	50% {
		transform: translate(-50%, -25px);
	}
	75% {
		transform: translate(-50%, 25px);
	}
	100% {
		transform: translate(-50%, -25px);
	}
}

@keyframes ud_yc { //move up and down, position-y center
	0% {
		transform: translate(0, -25px);
	}
	25% {
		transform: translate(0, calc(-50% + 25px));
	}
	50% {
		transform: translate(0, -25px);
	}
	75% {
		transform: translate(0, calc(-50% + 25px));
	}
	100% {
		transform: translate(0, -25px);
	}
}

@keyframes ud_cc { //move up and down, position center center
	0% {
		transform: translate(-50%, -25px);
	}
	25% {
		transform: translate(-50%, calc(-50% + 25px));
	}
	50% {
		transform: translate(-50%, -25px);
	}
	75% {
		transform: translate(-50%, calc(-50% + 25px));
	}
	100% {
		transform: translate(-50%, -25px);
	}
}

//==================================================
//==================================================

@keyframes lr { //move left and right, position on four corner
	0% {
		transform: translate(-25px, 0);
	}
	25% {
		transform: translate(25px, 0);
	}
	50% {
		transform: translate(-25px, 0);
	}
	75% {
		transform: translate(25px, 0);
	}
	100% {
		transform: translate(-25px, 0);
	}
}

@keyframes lr_xc { //move left and right, position-x center
	0% {
		transform: translate(calc(-50% - 25px), 0);
	}
	25% {
		transform: translate(calc(-50% + 25px), 0);
	}
	50% {
		transform: translate(calc(-50% - 25px), 0);
	}
	75% {
		transform: translate(calc(-50% + 25px), 0);
	}
	100% {
		transform: translate(calc(-50% - 25px), 0);
	}
}

@keyframes lr_yc { //move left and right, position-y center
	0% {
		transform: translate(-25px, -50%);
	}
	25% {
		transform: translate(25px, -50%);
	}
	50% {
		transform: translate(-25px, -50%);
	}
	75% {
		transform: translate(25px, -50%);
	}
	100% {
		transform: translate(-25px, -50%);
	}
}

@keyframes lr_cc { //move left and right, position center center
	0% {
		transform: translate(calc(-50% - 25px), -50%);
	}
	25% {
		transform: translate(calc(-50% + 25px), -50%);
	}
	50% {
		transform: translate(calc(-50% - 25px), -50%);
	}
	75% {
		transform: translate(calc(-50% + 25px), -50%);
	}
	100% {
		transform: translate(calc(-50% - 25px), -50%);
	}
}