//==================================================
// website colors
//==================================================
$web_color_1 : #00cc00; //綠色 1
$web_color_2 : #80ff66; //綠色 2
$web_color_3 : #ddff99; //綠色 hover
$web_color_4 : #ccff66; //綠色 current

$web_color_5 : #b8bbcc; //藍色 normal text
$web_color_6 : #99bbff; //藍色 title

$web_color_7 : #800000; //紅色 border
$web_color_8 : #331f1f; //紅色 border dark
$web_color_9 : #cc0000; //紅色 border hover

$web_color_10 : #f2d008; //黃色



//==================================================
// website fonts
//==================================================
$web_font_1 : 'Source Sans Pro', sans-serif;
$web_font_2 : 'Eurostile', sans-serif;
$web_font_3 : 'EurostileExt', sans-serif;