//==================================================
// global settings
//==================================================
*,
*:before,
*:after	{box-sizing: border-box;}

*,
*:focus,
*:active,
*:hover {outline: none;}

@keyframes smoothscroll1 {
	from, to {scroll-behavior: smooth;}
}

@keyframes smoothscroll2 {
	from, to {scroll-behavior: smooth;}
}

html {
	animation: smoothscroll1 1s;
}

html:focus-within {
	animation-name: smoothscroll2;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	color: $font_color;
	font-size: $font_size;
	font-family: 'Microsoft JhengHei', sans-serif;
	line-height: $line_height;
	background: #fff;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	//清除文字在iphone的預設大小
	-webkit-text-size-adjust: none;

	&.noscroll {
		position: fixed;
		width: 100%;
		overflow-y: scroll;
	}
}

ol,ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	vertical-align: middle;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1;
}

h1, .h1 { font-size: $font_size_h1; }
h2, .h2 { font-size: $font_size_h2; }
h3, .h3 { font-size: $font_size_h3; }
h4, .h4 { font-size: $font_size_h4; }
h5, .h5 { font-size: $font_size_h5; }
h6, .h6 { font-size: $font_size_h6; }

h1.siteTitle {
	position: absolute;
	top: -100%;
	left: -100%;
	width: 0;
	height: 0;
	color: rgba(255,255,255,0);
	opacity: 0;
	z-index: 0;
}

a {
	color: $link_color;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {color: $link_hover_color;}
}

p {margin: 0;}

button {
	padding: 0;
	cursor: pointer;
}

table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}

form {
	width: 100%;
	margin: 0 auto;
}

input:not([type="radio"]):not([type="checkbox"]),textarea,select {
	font-family: 'Microsoft JhengHei', sans-serif;
	appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {appearance: none;}
input[type="number"] {-moz-appearance:textfield;}

.text-right {text-align: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}

.float-right {float: right;}
.float-left {float: left;}

.underline {text-decoration: underline;}
.del {text-decoration: line-through;}

.break-all {word-break: break-all;}