@charset "utf-8";

body.books {
	background: url('../images/bg_series.png');

	.banner {
		margin-bottom: 50px;
		transition: all 0.3s ease-in-out;

		@media (max-width: $hamburgerPoint) {margin-bottom: 0;}
	}

	.booksTitle {
		position: relative;
	    margin-bottom: 15px;
		color: $web_color_1;
		font-size: 35px;
		font-weight: bold;
		transition: all 0.3s ease-in-out;

		@media (max-width: $screenViewXL - 1) {font-size: 32px;}
		@media (max-width: $screenViewMD - 1) {font-size: 28px;}
		@media (max-width: $screenViewSM - 1) {font-size: 26px;}
		@media (max-width: $screenViewXS - 1) {font-size: 24px;}

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: -25px;
			left: -35px;
			width: 107px;
			height: 109px;
			background: url('../images/bg_booksTitle.png') no-repeat;
			z-index: -1;
		}
	}

	.booksDes {
		font-size: 23px;
		transition: all 0.3s ease-in-out;

		@media (max-width: $screenViewXL - 1) {font-size: 22px;}
		@media (max-width: $screenViewMD - 1) {font-size: 20px;}
		@media (max-width: $screenViewSM - 1) {font-size: 18px;}
		@media (max-width: $screenViewXS - 1) {font-size: 16px;}
	}

	.block_cards {
		position: relative;
		background: #fff;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: -20px;
			left: 0;
			width: 100%;
			height: 30px;
			background: url('../images/bg_cards.png') no-repeat top center;
			background-size: 100% 100%;
		}
	}

	.footerType2 {
		@media (max-width: $screenViewMD - 1) {margin-top: -40px;}
	}
}



.books1Area {
	position: relative;
	background: url('../images/bg_books1.png') no-repeat 98% 99%;
    overflow: hidden;

	@media (max-width: $hamburgerPoint) {background: unset;}

	.pagefloatL {
		position: absolute;
		top: 5%;
		left: 0;
		z-index: -1;

		@media (max-width: $hamburgerPoint) {display: none;}
	}

	.pagefloatR1 {
		position: absolute;
		top: 1%;
		right: 0;
		z-index: -1;

		@media (max-width: $hamburgerPoint) {display: none;}
	}

	.pagefloatR2 {
		position: absolute;
		top: 25%;
		right: 0;
		z-index: -1;

		@media (max-width: $hamburgerPoint) {display: none;}
	}

	$blockBottom: 100px;

	@media (max-width: $screenViewMD - 1) {$blockBottom: 70px;}

	.books1_block1 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;

		padding-bottom: $blockBottom;

		@media (max-width: $screenViewSM - 1) {flex-direction: column;}

		.books1_block1_img {
			width: 50%;
			transition: all 0.3s ease-in-out;

			@media (max-width: $screenViewSM - 1) {
				margin-bottom: 20px;
				width: 100%;
			}

			img {
				width: 1084px;
				height: auto;
				max-width: unset;
				transition: all 0.3s ease-in-out;

				@media (max-width: $screenViewXL - 1) {width: 850px;}
				@media (max-width: $screenViewLG - 1) {width: 130%;}
				@media (max-width: $screenViewSM - 1) {width: 100%;}
			}
		}

		.books1_block1_content {
			width: 48%;
			transition: all 0.3s ease-in-out;

			@media (max-width: $screenViewSM - 1) {width: 100%;}
		}
	}

	.books1_block2 {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-bottom: $blockBottom;

		@media (max-width: $screenViewSM - 1) {flex-direction: column;}

		.books1_block2_img {
			width: 48%;
			transition: all 0.3s ease-in-out;

			@media (max-width: $screenViewSM - 1) {
				margin-bottom: 20px;
				width: 100%;
			}
		}

		.books1_block2_content {
			width: 50%;
			transition: all 0.3s ease-in-out;

			@media (max-width: $screenViewSM - 1) {width: 100%;}

			.booksDes {
				margin-bottom: 20px;
			}
		}
	}

	.books1_block3 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column-reverse;

		padding-bottom: $blockBottom;

		.books1_block3_img {
			width: 100%;
		}

		.books1_block3_content {
			width: 100%;
			margin-bottom: 25px;
		}
	}

	.books1_block4 {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-bottom: $blockBottom;

		@media (max-width: $screenViewSM - 1) {flex-direction: column;}

		.books1_block4_img {
			width: 48%;
			transition: all 0.3s ease-in-out;

			@media (max-width: $screenViewSM - 1) {
				margin-bottom: 20px;
				width: 100%;
			}
		}

		.books1_block4_content {
			width: 50%;
			transition: all 0.3s ease-in-out;

			@media (max-width: $screenViewSM - 1) {width: 100%;}

			.booksDes {
				margin-bottom: 20px;
			}
		}
	}

	.books1_block5 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column-reverse;

		padding-bottom: $blockBottom;

		.books1_block5_img {
			width: 100%;

			img {
				margin-bottom: 100px;
				transition: all 0.3s ease-in-out;

				@media (max-width: $screenViewMD - 1) {margin-bottom: 50px;}
			}

			p {
				font-size: 23px;
				font-weight: bold;
			}
		}

		.books1_block5_content {
			width: 100%;
			margin-bottom: 25px;
		}
	}
}