@charset "utf-8";

body.dutyDetail {
	background: url('../images/bg_series.png');

	.banner {
		@media (max-width: $hamburgerPoint) {margin-bottom: 40px;}

		.dutyDetailTitle {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			.articleCategory {
				margin-bottom: 10px;
				padding: 0 15px;
				width: fit-content;
				color: #fff;
				background: $web_color_1;
			}

			.dutyTitle {
				position: relative;
				margin-bottom: 30px;
				padding-bottom: 25px;
				width: 100%;
				max-width: calc(100% - 140px);
				transition: all 0.3s ease-in-out;

				@media (max-width: $screenViewMD - 1) {
					margin-bottom: 20px;
					padding-bottom: 15px;
				}

				span {
					color: #fff;
					font-size: 48px;
					line-height: 1.2;
					transition: all 0.3s ease-in-out;

					@media (max-width: $screenViewXL - 1) {font-size: 40px;}
					@media (max-width: $screenViewMD - 1) {font-size: 30px;}
					@media (max-width: $screenViewSM - 1) {font-size: 24px;}
				}

				&::before {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 90px;
					height: 2px;
					background: $web_color_1;
				}
			}
		}

		.articleShare {
			position: absolute;
			bottom: 70px;
			right: 0;
			width: 100%;
			transition: all 0.3s ease-in-out;

			@media (max-width: $screenViewMD - 1) {bottom: 35px;}

			.social {
				display: inline-flex;
				overflow: hidden;

				>div {
					opacity: 0;
					transform: translate(100%, 0%);
					transition: all 0.3s ease-in-out;

					a {
						display: inline-block;
					    margin-right: 5px;
					}

					&.open {
						opacity: 1;
						transform: translate(0%, 0%);
					}
				}
			}

			.switcher {
				display: inline-block;
				cursor: pointer;

				img {
					transform: rotate(0deg);
					transition: all 0.3s ease-in-out;

					&.open {
						transform: rotate(-180deg);
					}
				}
			}
		}

		#copyUrl {
			position: absolute;
		    bottom: 0;
		    left: -100%;
		}
	}

	.breadcrumb {
		position: relative;
		top: 0;
		left: 0;
		padding: 20px 90px;
		transition: all 0.3s ease-in-out;

		@media (max-width: $screenViewLG - 1) {padding: 20px 40px;}
	}
}



.articleContent {
	background: url('../images/bg_article.png') no-repeat right bottom;
	background-size: 100% auto;

	.editorBlock {
		min-height: 310px;
	}
}