@charset "utf-8";

//==================================================
// for all footerType
//==================================================
.footer {
	.footerContent {
		padding: 15px 0;

		.footerLogo {
			margin-bottom: 50px;

			img {max-height: 162px;}
		}
	}

	.copyright {
		padding: 10px 0;

		a {color: #929292;}
	}
}



//==================================================
// footerType2 style
//==================================================
.footerType2 {
	position: relative;
	margin-top: -20px;
	padding-top: 70px;
	background: url('../images/bg_footer.png') no-repeat center top;
	background-size: 100% 100%;

	.footerContent {
		margin-bottom: 30px;

		.col-12 {
			padding-top: 0;
			padding-bottom: 0;
			
			@media (min-width: $screenViewMD) {
				&:not(:last-child) {
					position: relative;

					&::before {
						content: '';
						position: absolute;
						display: block;
						bottom: 0;
						right: 0;
						width: 1px;
						height: 100%;
						background: #C5C5C5;
					}
				}
			}

			.footerTitle {
				position: relative;
				margin-bottom: 30px;
				padding-left: 15px;
				font-size: 22px;
				font-weight: bold;

				@media (max-width: $screenViewXS - 1) {
					margin: 0 auto 15px;
					width: fit-content;
				}

				&::before {
					content: '';
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					top: 50%;
					left: 0;
					border-style: solid;
					border-width: 7.5px 0 7.5px 10px;
				    border-color: transparent transparent transparent $web_color_1;
					transform: translate(0%, -50%);
				}
			}

			.footerText {
				@media (min-width: $screenViewMD) {
	    			margin: 0 auto;
					width: fit-content;
				}
				@media (max-width: $screenViewXS - 1) {text-align: center;}

				p {
					font-size: 14px;
					line-height: 2;

					br {
						@media (max-width: $screenViewLG - 1) {display: none;}
					}
				}
			}

			.footerOverview {
				@media (min-width: $screenViewMD) {
	    			margin: 0 auto;
					width: fit-content;
				}
				@media (max-width: $screenViewXS - 1) {
					margin-top: 30px;
					text-align: center;
				}

				p {
					margin-bottom: 10px;

					a {
						position: relative;
						padding-left: 17px;
						font-size: 14px;

						&::before {
							content: '';
							position: absolute;
							display: block;
							width: 11px;
							height: 11px;
							top: 50%;
							left: 0;
							background: $web_color_1;
							transform: translate(0%, -50%);
						}

						&:hover,
						&:focus {
							color: #000;
							text-decoration: underline;
						}
					}
				}
			}

			.footerInfo {
				@media (max-width: $screenViewMD - 1) {margin-top: 30px;}

				.col-12 {
					padding-top: 0;
					padding-bottom: 0;

					@media (min-width: $screenViewMD) {
						&:not(:last-child) {
							&::before {height: 70%;}
						}
					}
					
					div {
						@media (max-width: $screenViewXS - 1) {text-align: center;}

						&:not(.footerTitle) {
							@media (min-width: $screenViewMD) {
				    			margin: 0 auto;
								width: fit-content;
							}

							*:not(.footerTitle):not(.tel) {font-size: 14px;}
						}
					}
					
					p {color: $web_color_3;}

					p.adr {
						margin-top: 63px;
						color: $web_color_1;

						@media (max-width: $screenViewXS - 1) {margin-top: 20px;}
					}

					p.inf {line-height: 2;}

					a {
						&:hover,
						&:focus {color: #000;}
					}

					a.tel {
						color: $web_color_3;
						font-size: 30px;
						font-weight: bold;
						transition: all 0.3s ease-in-out;

						@media (max-width: $screenViewLG - 1) {font-size: 24px;}

						&:hover {color: lighten($web_color_3,10%);}
					}

					a+p {
						color: $web_color_1;
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	.copyright {
		position: relative;
		border-top: 1px solid #929292;
		
		.rightsText {
			span {
				color: #929292;
				line-height: 33px;
			}
		}

		.footerSocial {
			@media (min-width: $screenViewMD) {
				position: absolute;
				top: 50%;
				right: 0%;
				transform: translate(0%, -40%);
				transition: all 0.3s ease-in-out;
			}

			@media (min-width: $screenViewLG) {right: 9%;}

			li {
				display: inline-block;

				a {
					padding: 0 5px;
					color: #848484;
					font-size: 30px;

					&:hover {color: $web_color_2;}
				}
			}
		}
	}
}