@charset "utf-8";

.pagination {
    padding-bottom: 50px;

    .pageNav {
        margin: 0 auto;
        width: fit-content;

        ul {
            height: 47px;

            li {
                float: left;
                text-align: center;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;

                &.prev,
                &.next {
                    color: #fff;
                    background: $web_color_1;

                    &.disable {background: #ccc;}

                    a {
                        position: relative;
                        width: 47px;
                        height: 47px;
                        color: #fff;
                        line-height: 47px;

                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                &.total,
                &.list {
                    background: #fff;
                    border: 1px solid #ccc;

                    &:hover,
                    &.active {
                        color: $web_color_1;
                        border: 1px solid $web_color_1;

                        a {color: $web_color_1;}
                    }
                }

                &.total {
                    display: none;
                    @media (max-width: $hamburgerPoint) {display: list-item;}
                }

                &.list {
                    @media (max-width: $hamburgerPoint) {display: none;}
                }

                &:not(:last-child) {margin-right: 10px;}

                a {
                    display: block;
                    width: 45px;
                    height: 45px;
                    color: #000;
                    font-size: 22px;
                    font-weight: bold;
                    line-height: 45px;

                    @media (max-width: $hamburgerPoint) {font-size: 16px;}
                }
            }
        }
    }
}